.process-bar
{
width:100px;
display:inline-block;
*zoom:1;
}
.pb-wrapper
{
border:1px solid gray;
border-style:solid none;
position:relative;
background:#cfd0d2;
}
.pb-container
{
border:1px solid gray;
border-style:none solid;
height:12px;
position:relative;
left:-1px;
margin-right:-2px;
font:1px/0 arial;
padding:1px;
}
.pb-highlight
{
position:absolute;
left:0;
top:0;
_top:1px;
width:100%;
opacity:0.6;
filter:alpha(opacity=60);
height:6px;
background:white;
font-size:1px;
line-height:0;
z-index:1
}
.pb-text
{
width:100%;
position:absolute;
left:0;
top:0;
text-align:center;
font:10px/12px arial;
}
.pb-value
{
height:100%;
width:50%;
background:#19d73d;
}
.pb-text
{
color:black;
font:10px/12px arial
}
/* -- 以下是重写的皮肤 -- */
/* green */
.skin-green .pb-wrapper
{
border-color:#666;
border-top-color:#628c2d;
}
.skin-green .pb-container
{
border-color:#666;
border-left-color:#628c2d;
}
.skin-green .pb-text{ color:black }
/* blue */
.skin-blue .pb-wrapper
{
border-color:#0e7c78;
border-top-color:#41beb9;
}
.skin-blue .pb-container
{
border-color:#0e7c78;
border-left-color:#41beb9;
}
.skin-blue .pb-text
{
color:white
}
.skin-blue .pb-value
{
background:#159b96;
}
/* red */
.skin-red .pb-wrapper
{
border-color:#8e1411;
border-top-color:#cb3d3a;
}
.skin-red .pb-container
{
border-color:#8e1411;
border-left-color:#cb3d3a;
}
.skin-red .pb-text
{
color:#470200;
}
.skin-red .pb-value
{
background:#d70500
}
/* orange */
.skin-orange .pb-wrapper,
.skin-orange .pb-container
{
border-color:#d55110;
}
.skin-orange .pb-text
{
color:#250f00;
}
.skin-orange .pb-value
{
background:#d75a00;
}
/* purple */
.skin-purple .pb-wrapper,
.skin-purple .pb-container
{
border-color:#a90561;
}
.skin-purple .pb-text
{
color:#720040;
}
.skin-purple .pb-value
{
background:#9d118e
}
/* black */
.skin-black .pb-wrapper,
.skin-black .pb-container
{
border-color:black
}
.skin-black .pb-text
{
color:gray;
}
.skin-black .pb-value
{
background:#111111;
}
/* 分割线样式 */
.hua-li-de-fen-ge-xian
{
border-bottom:2px dashed #eee;
height:1px;
font-size:1px;
margin:5px 0
}