@charset "utf-8";
/* CSS Document */

body{
	text-align:center;
	}
#container{
	width:600px; min-height:400px; height:auto; margin:0 auto; display:inline-block; margin-top:30px; border:1px solid red; padding:4px;
	}
#container hr{
	width:96%; color:#E9E1C9; margin:0 auto;}
ul{
	list-style-type:none; margin:0; padding:0; width:300px; margin-bottom:10px; float:left; display:inline-block;
	}
ul li{
	min-height:25px; line-height:25px; height:auto; width:300px; cursor:pointer; text-align:left; 
	border:1px solid #E6F9EF; margin-top:15px; background-color:#D0D799; display:inline-block;
	}
ul li:hover{
	border:1px solid #630; background-color:#E6F9EF; border-radius:4px;
	}
.bg_lightBlue{
	background-color:#B5C2D9;}
.right{
	width:280px; min-height:200px; height:auto; margin-right:13px; margin-top:15px; 
	float:right; border:1px solid #0C6; padding-bottom:20px;
	}
.right hr{
	width:98%; margin:0 auto;
	}
.imag_label{
	width:90%; height:25px; line-height:25px; margin-left:5px; text-align:left; 
	font-size:14px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold; color:#DB4939;
	}
.img_div{
	width:150px; height:150px; border:1px solid #CCFF99; margin:0 auto; margin-top:20px;
	}