<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
      <property name="url" value="jdbc:mysql://localhost:3306/test?characterEncoding=utf8" />
      <property name="username" value="root" />
      <property name="password" value="" />
    </bean> -->
    
    <!--  为了引入jdbc.propertites-->
   
    
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name="driverClassName" value="${jdbc_driverClassName}"></property>
      <property name="url" value="${jdbc_url}" />
      <property name="username" value="${jdbc_username}" />
      <property name="password" value="${jdbc_password}" />
    </bean>
    
    <bean name="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
      <property name="dataSource" ref="dataSource"></property>
      <!-- <property name="packagesToScan">
            <list>
                <value>com.lungcare.dicomfile.entity</value>
            </list>
      </property> -->
      <property name="hibernateProperties">
         <props>
            <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
            <prop key="hibernate.show_sql">true</prop>
		    
		    <prop key="hibernate.format_sql">true</prop>
		    
            
			<prop key="hibernate.generate_statistics">true</prop>
			
			<prop key="hibernate.max_fetch_depth">2</prop>
			
			<prop key="hibernate.jdbc.fatch_size">100</prop>
			
			<prop key="hibernate.jdbc.batch_size">50</prop>
			
			<prop key="hibernate.hbm2ddl.auto">update</prop>
			
			 <prop key="hibernate.current_session_context_class">thread</prop>
			 
			  <!-- Disable the second-level cache -->
             <prop key="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</prop>
			<!-- <prop key="hibernate.cache.use_query_cache">true</prop> -->
			
			<!-- <prop key="hibernate.cache.use_second_level_cache">
		     true
		    </prop>
            <prop key="hibernate.cache.provider_class">
               org.hibernate.cache.EhCacheProvider
            </prop> -->
            <!-- <prop key="hibernate.cache.provider_configuration_file_resource_path">
               classpath:com/lungcare/dicomfile/config/ehcache.xml
            </prop> -->
		    <prop key="hibernate.connection.release_mode">  
                auto  
            </prop>
            <prop key="hibernate.connection.useUnicode">true</prop>
		    <prop key="hibernate.connection.characterEncoding">
		     utf-8
		    </prop>   
         </props>
      </property>
      <property name="eventListeners">  
        <map>  
            <entry key="merge">  
                <bean  
                    class="org.springframework.orm.hibernate3.support.IdTransferringMergeEventListener" />  
            </entry>  
        </map>  
    </property> 
      <property name="configLocations">
         <list>
           <value>
             classpath*:com/lungcare/dicomfile/config/hibernate.cfg.xml
           </value>
         </list>
      </property>
    </bean>
    
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
      <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    
    <bean id="transactionBase" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" lazy-init="true" abstract="true">
      <property name="transactionManager" ref="transactionManager"></property>
      <property name="transactionAttributes">
         <props>
            <prop key="add*">PROPAGATION_REQUIRED, -Exception</prop>
            <prop key="insert*">PROPAGATION_REQUIRED, -Exception</prop>
            <prop key="update*">PROPAGATION_REQUIRED, -Exception</prop>
            <prop key="modify*">PROPAGATION_REQUIRED, -Exception</prop>
            <prop key="get*">PROPAGATION_NEVER</prop>
         </props>
      </property>
    </bean>
    
</beans>