@charset "utf-8";
/* CSS Document */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, menu, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0;outline:none }
html { overflow-y: scroll; }
body{ font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica,"Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light",Tahoma ,Arial,"微软雅黑","黑体","宋体", Verdana, sans-serif; color:#000; text-align:left }
textarea { overflow:auto }
strong, b { font-weight: bold; }
ol, menu, ul, li { list-style: none outside none; }
img { border:0; }
button, input, select, textarea { font-size:100%; color:#666 }
textarea {resize:none;}
address, caption, cite, code, dfn, em, i, th, var, s { font-style: normal; font-weight: normal; }
table { border-collapse:collapse; border-spacing:0; }
h1, h2, h3, h4, h5, h6 { font-weight:700; }
h1 { font-size:18px }
h2 { font-size:16px }
h3 { font-size:14px }
h4 { font-size:14px }
h5 { font-size:12px }
h6 { font-size:12px }
label{outline:0;zoom:1}
.hide { display:none; }/*不占位隐藏*/
.invisible { visibility:hidden; }/*占位隐藏*/
.clear:after { content:'\20'; display:block; height:0; clear:both; }/*清除浮动*/
.clear {*zoom:1; clear:both; height:0px; line-height:0px; font-size:0px }
a { text-decoration: none }
a:hover { text-decoration:none; cursor: pointer; }
*:focus { outline:  medium none }
body { background-color:#fff;}
/* top_nav */
body{
	overflow: visible;
} 
input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
    width: auto;
}
input[type="radio"], input[type="checkbox"] {
    margin: 0px 0px 0px;
    line-height: normal;
}
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
    vertical-align: middle;
}