@charset "utf-8";
/* CSS Document */

/***   navbar left begin   ***/
.top {
	height: 42px;
	width:100%;
}
.navbar {
	filter: none !important;
	background-image: none !important;
	background-color: #212121 !important;
	width: 100%;
	border: 0px none;
	padding: 0px;
	box-shadow: none;
	height: 42px;
	line-height:42px;
}
.container-fluid {
    padding-right: 20px;
    padding-left: 20px;
}
.brand {
    display: inline-block;
    margin-top: -1px;
    margin-right: 0px;
    width: 225px;
	float: left;
	padding: 15px 0px;
	margin-left: -20px;
	font-size: 20px;
	font-weight: 200;
}
.brand img {
    margin-left: 20px;
}

/***  navbar right begin   
.navbar .nav.pull-right {
    float: right;
    margin-right: 0px;
}
.nav {
    display: block;
	position: relative;
	left: 0px;
	height:42px;
	line-height:42px;
	margin: 0px 10px 0px 0px;
}
.navbar .nav > li {
    float: left;
	height:42px;
	line-height:42px;
}
.nav > li.dropdown:last-child {
    padding-right: 2px;
}
.dropdown.user .dropdown-toggle {
    padding: 6px 4px 7px 9px;
}
.nav > li.dropdown > a {
   color: #999;
   float: none;
   display:block; 
}
.username {
	height:36px;
	line-height:36px;
	display:inline-block;
	vertical-align:top;
}
***/
.main {
	width:1280px;
	margin:0px auto;
	overflow:hidden;
}
.left{
	width:225px;
	height:757px;	
	float:left;
	background-color: #3D3D3D;
}
.main-right {
	width:1000px;
	width:950px!important;
	padding:15px 25px;
	float:left;
	text-align:left;
	background:#FFF;
}
.maintop {
	height:70px;
	line-height:70px;
	font-size:25px;
	letter-spacing:6px;
}
.maintop span{
	font-size:12px;
	margin-left:5px;
	letter-spacing:2px;
}
.mainnav {
	height:40px;
	line-height:40px;
	background:#f0f0f0;
	padding:0 20px;
}
.mainbody {
	margin-top:25px;
	border:1px solid #4b8df8;
}
.body-header {
	height:45px;
	line-height:45px;
	background:#4b8df8;
	color:#FFF;
	letter-spacing:2px;
	padding:0 20px;
	font-size:18px;
	font-weight:bold;
}
.body-cont p{
	height:30px!important;
	padding:10px 0;
	height:50px;
	line-height:50px;
	line-height:30px!important;
	position:relative;
}
.wp-btn {
	
}
.body-cont p label {
	line-height:30px;
	width:200px;
	width:170px;
	padding:0 15px;
	text-align:right;
	float:left;
}
.body-cont p input[type='button'],.body-cont p select {
	height:33px;
	width:150px;
	line-height:33px;
	border:1px solid #c8c8c8;
}
.body-cont p.introduce {
	height:75px!important;
	padding:10px 0;
	height:95px;
	line-height:95px;
	line-height:75px!important;
	position: relative;
}
.body-cont div .file  {
	display: none;
}
.file{
	display: none;
}
.imgbox {
	height:150px;
	margin-left:200px;
	position:relative;
}
.body-cont p.img-notice {
	position:absolute;
	bottom:0px;
	left:0px;
}
.img-notice i {
	color:#4b8df8;
}
.notice-detail{
	margin-left: 155px;
}
.imgbox .box {
	width:100px;
	height:100px;
	float:left;
	margin-right:20px;
	border:1px solid #c8c8c8;
	position: relative;
}
.image-add{
	border-top:1px solid white;
	width: 100px;
	height: 30px;
	z-index: 10px;
	top: 70px;
	left: 0px;
	position: absolute;
	background-color: black;
	opacity: 0.6;
	color: white;
	overflow: hidden;
	cursor: pointer;
	text-align: center;
	display: none;
}
.img{
	height: 100px;
	width: 100px;
}
.image-cancel-update{
	border-top:1px solid white;
	width: 100px;
	height: 30px;
	z-index: 20px;
	top: 70px;
	left: 0px;
	position: absolute;
	background-color: black;
	opacity: 0.6;
	color: white;
	overflow: hidden;
	cursor: pointer;
	display: none;
}
.image-update{
	width: 49px;
	float: left;
	text-align: center;
	height: 30px;
	border-right: 1px solid #CCCCCC;
}
.image-cancel{
	width: 50px;
	float: left;
	text-align: center;
	height: 30px;
}
.btnbox {
	margin-left:200px;
	margin-bottom:20px;
}
.upload,.upload_ {
	height:30px;
	line-height:30px;
	padding:0 20px;
	background:#4b8df8;
	color:#FFF;
	font-size:14px;
	display:inline-block;
}
.upload-btn{
	display: none;
}
.upload:hover,.upload_:hover {
	color:#FFF;
}
.warm{
	color:red;
}
.normal{
	color:rgb(102, 102, 102);
}
.reset {
	height:30px;
	line-height:30px;
	padding:0 20px;
	background:#c8c8c8;
	color:#FFF;
	font-size:14px;
	display:inline-block;
}
.reset:hover {
	color:#FFF;
}
/***  left menu begin  ***/
.sidebar-menu {
	list-style: none outside none;
	margin: 0px;
	padding: 0px;
	width: 225px;
	background-color: #3D3D3D;
}
.sidebar-menu > li {
    display: block;
    margin: 0px;
    padding: 0px;
    border: 0px none;
}
.sidebar-menu > li > a {
    display: block;
    position: relative;
    margin: 0px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
	border-top: 1px solid #5C5C5C !important;
	color: #FFF !important;
	border: medium none;
}
.sidebar-menu > li > a.on {
	background: #303030;
}
.sidebar-menu > li.active{	background:#E02222 !important;}
.sidebar-toggler {
    cursor: pointer;
    opacity: 0.5;
    margin-top: 15px;
    margin-left: 175px;
    width: 29px;
    height: 29px;
    background-repeat: no-repeat;
	background-image: url('../image/sidebar-toggler.jpg');
	background-color: #242424;
}
ul.sub-menu {
    display: none;
    list-style: none outside none;
    clear: both;
    margin: 8px 0px;
}
ul.on {
	display: block;
}
ul.sub-menu > li {
    background: none repeat scroll 0% 0% transparent;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0px;
    margin-top: 1px !important;
}
ul.sub-menu > li > a {
    display: block;
    margin: 0px;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 44px !important;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
	color:#DBDBDB;
    background: none;
}
ul.sub-menu > li > a:hover {
    background: #575757 !important;
}
.body-cont input{
	border:none;
	width: auto;
	height: 30px;
	color:gray;
}
.body-cont p textarea{
	font-size: 13px;
	padding-top: 6px;
	height:75px;
	width:550px;
}
.body-cont p span{
	border:1px solid #c8c8c8;
	font-size: 13px;
	color:gray;
	border:1px solid red;
	width: 100px;
	height: 100px;
	display: inline-block;
	line-height: 20px;
}
.update-btn{
	background: none repeat scroll 0 0 #4b8df8;
	color:white;
	padding:2px 10px;
	cursor: pointer;
}
.body-cont p .mylabel{
	border:none;
	height: 30px;
	color:gray;
	min-width: 20px;
}
.body-cont div.introduce {
	padding:10px 0;
	min-height:0px;
	line-height:28px;
	position: relative;
	padding-bottom: 10px;
}
.body-cont div label {
	line-height:30px;
	width:200px;
	width:170px;
	padding:0 15px;
	text-align:right;
	float:left;
}
.body-cont div.introduce .appIntro{
	margin-bottom: -24px;
	overflow: hidden;
	width: 550px;
}
.body-cont div.introduce .appIntro textarea{
	width: 548px;
	font-size: 13px;
	color:black;
}
.detailimg-div{
	margin-top: 10px;
}
.path{
	display: none;
}



































